modules = ["python-3.12", "nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"
integrations = ["javascript_database:1.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Auto Apply Worker"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd admin_frontend && npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Auto Apply Worker"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace && python worker/main.py"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
NEXT_PUBLIC_VAPID_PUBLIC_KEY = "BOjShV12g7N91R_yg2VlvKZe9s_0U5qBHYek8IkZPDzIRCN-ivcGLtyUhGRPv6AKLGghOYjuNCM3YpXirV9lkNw"
VAPID_PRIVATE_KEY = "WYQrf3rzxY_o9hRaEdfhqQftDv5RHDAqGfvHqah2yCA"
VAPID_EMAIL = "mailto:admin@jobbots.app"
TAMARA_SANDBOX = "false"
SMTP_ENCRYPTION_KEY = "9d0be1cde7dfd6e300e699fb2f067137de2d36248e7a5090db1442f9add47335"
NEXTAUTH_URL = "https://jobbots.org"
GOOGLE_ADMIN_EMAILS = "ahmedsupsa@gmail.com"
RESEND_ALIAS_DOMAIN = "jobbots.org"
RESEND_FROM_EMAIL = "apply@jobbots.org"
RESEND_FROM_NAME = "Jobbots"
JOBS_SOURCE_CHANNEL_ID = "-1003049097618"
ADMIN_TELEGRAM_IDS = "7024525347"
ADMIN_PASSWORD = "admin123"
ADMIN_SECRET = "348333"
ADMIN_USERNAME = "admin"
NEXTAUTH_SECRET = "jobbots-nextauth-secret-change-in-prod-348333"
ADMIN_SESSION_SECRET = "jobbots-session-secret-348333"
CRON_SECRET = "wFbWBYQ17sN1PgStF2ClK0a6sprc7FyMvIf-s0tvBG4"
WORKER_SECRET = ""
STREAMPAY_API_KEY = "d26eb76f-3378-4a59-af3c-f11a65ff3327"
STREAMPAY_API_SECRET = "f43b2c91-2f65-450e-8f10-93b5c711eaa5"
SUPABASE_URL = "https://vnbaksiabcdnnnoglycr.supabase.co"
SUPABASE_KEY = "sb_publishable_f39N5C7PqbLHhd10bMYnwQ_FeoGznC5"
SUPABASE_SERVICE_ROLE_KEY = "sb_secret_eBb_KECcJTqIWfZtZ9vP_g_P_Wk_KJv"
GOOGLE_CLIENT_ID = "1026097706203-iet4vb46l8lkcm3g400gbctg867rmr33.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET = "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"
RESEND_API_KEY = "re_FCqWuriA_J67Urkbm9FXneJw5Aja4qXdH"
TELEGRAM_BOT_TOKEN = "8432645076:AAHhcjJtkvHmVHgOLcLdzWPL216YFSm_Edo"
TELEGRAM_CHAT_ID = "7024525347"
TELEGRAM_API_ID = "29840400"
TELEGRAM_API_HASH = "367a0fbdde42f2b8908c949400be091e"
TELEGRAM_SESSION_STRING = "1BJWap1sBu1UR_12Zia37vLPivrxPIKw9Qs2i7ETA_7uN2NcYpA6j6eLHO-K-w0A-PqTwCL-NzCdSJni0I5mQWmSqA0oSc45pT3M7BcnRniGDNS3nNol0HUduuYVbNwpS4K0vElJCyewbW383Fn9x3xm4ssHarhZ3G1QFNf0_6n8Hef_c6yjNpyMqSCzXsOxMPQZn7zjp3xc26UJy0CBVP1FcF8zs4yKOdLLGJDjgaV2vt2rh1fJiBORwfbrOHb8peuZNlAIId3-1sfYuXPSyKaASXrFF2zSMAbwKlTnTJUk16HCan3tHWaxEyLCDUEkL1VRDS7FDx86yzkaTo_8-80Q8pwoDH9c="
TELEGRAM_JOB_CHANNEL_ID = "-1003049097618"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 180000
