NEXTAUTH_URL=https://jobbots.org

NEXTAUTH_SECRET=

GOOGLE_CLIENT_SECRET=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

GOOGLE_CLIENT_ID=1026097706203-iet4vb46l8lkcm3g400gbctg867rmr33.apps.googleusercontent.com

GOOGLE_ADMIN_EMAILS=ahmedsupsa@gmail.com

SMTP_ENCRYPTION_KEY=8f3a9c2d7b6e1f0a9c4d8e2f7a1b9c3d

ADMIN_PASSWORD=admin123

ADMIN_USERNAME=

ADMIN_SESSION_SECRET=

TAMARA_API_TOKEN=

SUPABASE_WORKER_URL=

WORKER_SECRET=

VAPID_PRIVATE_KEY=

NEXT_PUBLIC_VAPID_PUBLIC_KEY=

VAPID_EMAIL=

STREAMPAY_API_KEY=d26eb76f-3378-4a59-af3c-f11a65ff3327

STREAMPAY_API_SECRET=f43b2c91-2f65-450e-8f10-93b5c711eaa5

CRON_SECRET=wFbWBYQ17sN1PgStF2ClK0a6sprc7FyMvIf-s0tvBG4

SUPABASE_SERVICE_ROLE_KEY=sb_secret_eBb_KECcJTqIWfZtZ9vP_g_P_Wk_KJv

ADMIN_SECRET=348333

ADMIN_TELEGRAM_IDS=7024525347

BOT_TOKEN=7701038245:AAFXq5-iNxRdOrVOh2xZgp14qMvkjhL6-Q0

JOBS_SOURCE_CHANNEL_ID=-1003049097618

RESEND_ALIAS_DOMAIN=jobbots.org

RESEND_API_KEY=re_FCqWuriA_J67Urkbm9FXneJw5Aja4qXdH

RESEND_FROM_EMAIL=apply@jobbots.org

SUPABASE_KEY=sb_publishable_f39N5C7PqbLHhd10bMYnwQ_FeoGznC5

SUPABASE_URL=https://vnbaksiabcdnnnoglycr.supabase.co

GEMINI_API_KEY=AIzaSyAGQ6HtqoGUPsvSBBdRCub2TP6mVzEDi2c